
.star {
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    line-height: 16px;
    font-size: 14px;
    color: black;
    font-weight: 600;
    float: left;
}

.count {
    color: rgba(0, 0, 0, 0.3);
    font-weight: normal;
    margin-left: 4px
}

.price {
    line-height: 16px;
    font-size: 16px;
    color: #f34949;
    width: auto;
    text-align: right;
}


.navbar-nav .btn-light-small {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  font-size: 0.8rem;
  margin-top: 1.3rem;
}

.ftco-navbar-light.scrolled .btn-light-small {
  margin-top: 0.5rem;
}

  .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5; }

  .btn-light:focus, .btn-light.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5); }
  .btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df; }
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
    .show > .btn-light.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5); }